<% provide(:title, 'About Us') %>
<h1 class="ui-bar ui-bar-a titlebar">About Us</h1>
<p>
Prestissimo was conceived after a particularly frustrating hour and a half spent searching 
for classes worth 3 credits of social science that also fulfilled the writing proficiency requirement. 
After undergoing the tedious process of looking through the entire course catalog manually, 
it became apparent that there needed to be something faster than Presto.
</p>
<p>
Intended as a supplement to Presto, Prestissimo allows you to search through all of Oberlin's 
courses with a finer level of control over such search criteria as graduation proficiencies,
days and times, departments, professors, and more.
</p>

<h2 class="ui-bar ui-bar-a ui-corner-all">Credits</h2>
<p>
Prestissimo was originally created as a Winter Term project during the balmy winter of 2012
with the invaluable help and dedication of all of the following lovely people:
</p>
<ul>
	<li><strong>Liz Bennett - 2013</strong>, our amazing project leader</li>
	<li><strong>Jacob Chae - 2015</strong></li>
	<li><strong>Luke Lovett - 2013</strong></li>
	<li><strong>Abby Marsh - 2013</strong></li>
	<li><strong>Lily Pratt - 2014</strong></li>
	<li><strong>Jack Ratner - 2014</strong></li>
	<li><strong>Whit Schorn - 2013</strong></li>
	<li><strong>Ben Kuperman</strong> - Faculty sponsor extraordinaire</li>
</ul>
<p>The following students continued working on Prestissimo, adding new features and functionality:</p>
<p> Summer 2019</p>
<ul>
    <li><strong>Max Mitchell - 2020</strong></li>
	<li><strong>Jack Bens - 2020</strong></li>
</ul>
<p> Summer 2015</p>
<ul>
    <li><strong> Meghan McCreary - 2016</strong></li>
	<li><strong>Cole Peppis - 2016</strong></li>
        <li><strong>Sage Vouse - 2019</strong></li>
</ul>
<p>Summer 2014</p>
<ul>
  <li><strong> Elizabeth Bentivegna - 2015</strong></li>
  <li><strong> Cole Peppis - 2016</strong></li>
</ul>
<p> Winter Term 2014</p>
<ul>
  <li><strong>Andrew Amis - 2017</strong></li>
  <li><strong>Shiying Zheng - 2016</strong></li>
</ul>
<p> Summer 2013</p>
<ul>
  <li><strong> Lily Pratt - 2014</strong></li>
  <li><strong>Oren Shoham - 2014</strong></li>
</ul>
<p> Winter Term 2013</p>
<ul>
	<li><strong>Liz Bennett - 2013</strong></li>
        <li><strong>Meg Davis - 2014</strong></li>
        <li><strong>Jacob Chae - 2015</strong></li>
	<li><strong>Cameron Druecker - 2015</strong></li>
	<li><strong>Erik Larson - 2015</strong></li>
</ul>
<p> Summer 2012</p>
<ul>
<li><strong>Abby Marsh - 2013</strong></li>
<li><strong>Jack Ratner - 2014</strong></li>
<li><strong>Richard Townsend - 2013</strong></li>
</ul>



<p> Thanks must be given to the awesome Oberlin CS department for their support and encouragement along with <strong>Chris Mohler</strong> who kindly offered to host Prestissimo.</p>
