<% provide(:title, 'Community Guidelines') %>
<!-- to devs: feel free to rewrite/rephrase/add to these -->

<h1 class="ui-bar ui-bar-a titlebar">Community Guidelines</h1>

<p>Note that by using the Prestissimo site, you are affirming that you understand and are willing to abide by these guidelines.</p>
<p>Remember you are expected to abide by the <a href=http://new.oberlin.edu/students/policies/>Oberlin Student Code of Conduct</a>.</p>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h2>Site Usage</h2>
  </div>
  <div class="ui-body ui-body-a">
    <p>We at Prestissimo have some limitations on the behavior of our users, to ensure a better community. We ask that you be mindful of these guidelines. Prestissimo reserves the right to change these at any time, so please check back here for the latest.</p>

    <strong>Impersonation.</strong> Do not impersonate other people, especially including other members of the Oberlin community, in a manner intended to mislead other users. Prestissimo also reserves the right to reclaim commenter names that refer to other Oberlin community members.
    <br \><br \> <strong>Privacy.</strong> You may not post private information relating to other users or Oberlin community members, including but not limited to private address, Social Security Number, personal history, credit card number, etc, without their authorization.
    <br \><br \> <strong>Violence.</strong> You may not post specific threats of violence against others.
    <br \><br \> <strong>Copyright Violations.</strong> Prestissimo will respond to notices of copyright infringement.
    <br \><br \> <strong>Illegal Activity.</strong> You may not use our site for unlawful purposes or to further illegal activities. If you are accessing our site internationally, you agree to comply with local laws.
    <br \><br \> <strong>Multiple Accounts.</strong> Prestissimo accounts are verified through Oberlin College email accounts. You are limited to one account, and may not use or access accounts from other Oberlin College community members.
    <br \><br \> <strong>Commenter Names.</strong> You may not engage in buying or selling of commenter names. You may not choose a commenter name for the purposes of selling the name or preventing others from using the name.
    <br \><br \> <strong>Malware.</strong> You may not post links to malicious content intended to compromise a user's privacy or security.
    <br \><br \> <strong>Obscenity.</strong> You may not post or link to obscene content, including pornography, shock sites, etc.
  </div>
</div>

<br>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h2>Spam</h2>
  </div>
  <div class="ui-body ui-body-a">

    <p>Prestissimo does not tolerate spam from its users. Any user found to be engaging in spamming may be subject to permanent suspension.</p>

    These are our guidelines on spam.
    <ul class="bulletlist">
      <li>You may not post repeated or excessive comments on a professor, class, or department page.</li>
      <li>You may not mass send emails using the 'Email Cart' feature.</li>
      <li>You may not mass send reports.</li>
      <li>You may not make postings that consist mostly of product or vender links or endorsements.</li>
      <li>You may not post misleading links intended to deceive users into visiting a site.</li>
      <li>You may not post irrelevent comments on professor, class, and department pages.</li>
      <li>You may not post unreleated replies on other user's comments.</li>
    </ul>
    In addition to the above, repeated spam complaints from other users about your activities may result in punitive action.
    <br \>Prestissimo's definition of spam will continue to grow as new site features are added.

    <p>Prestissimo may take action against your account if you are found to be engaging in any of the above activities. We reserve the right to remove your account if we determine that you are violating our community guidelines. We may also comply with requests for information from Oberlin College to investigate specific instances of abuse by our users.</p>
  </div>
</div>

<p> For any further questions, please see our <%= link_to "Help Pages", help_path %> or contact us at <%= mail_to "info@oprestissimo.com" %>.</p>
