<!-- Explains professor, class, and department pages -->

<% provide(:title, 'Help | Class and Department Pages') %>
<h1>Class and Department Pages</h1>

<p>
As a signed in user of Prestissimo, you have access to pages designed to assist your course search process, such as course and department pages. You can also leave comments on these pages if you wish.</p>
<p>&nbsp;</p>

<h2>Class Pages</h2>
<p>A Class page has a description for the associated course, lists all professors who have taught the course, and lists all past offerings of the course.</p>
<p>&nbsp;</p>
<h2>Department Pages</h2>
<p>Every department has a Department page, found by visiting the Department Search page. For example, the CSCI link leads to the Computer Science Department page. A Department page lists all of the courses in our database that are associated with the department, as well as all of the professors who have ever taught classes in the department. Each class and professor is a link to their respective page.</p>
<p>&nbsp;</p>
For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.

