<!-- Explains professor, class, and department pages -->

<% provide(:title, 'Help | Hubpages') %>
<h1 class="ui-bar ui-bar-a titlebar">Professor, Class, and Department Pages</h1>

<p>
As a signed in user of Prestissimo, you have access to pages designed to assist your course search process. These are the Professor, Class, and Department pages. Search for departments on the <%= link_to "Department Search", hubcourses_path %> page, and search for professors on the <%= link_to "People Search", users_path %> page.
</p>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h2>Professor Pages</h2>
  </div>
  <div class="ui-body ui-body-a">
    <p>Every professor at Oberlin has a page associated with them. To find a professor page, visit the People Search page, and search for them! Expand the professor search results and click the name of the professor you'd like to view. You can also find a professor page by using the Course Search, opening a course taught by that professor, and clicking the professor name in the expanded description. In addition to any information posted by the professor, professor pages will list all courses that have been taught by that professor as well as any comments posted by users. </p>
  </div>
</div>

<br>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h2>Class Pages</h2>
  </div>
  <div class="ui-body ui-body-a">
    <p>A Class page has a description for the associated course, lists all professors who have taught the course, and lists all the years that course has been offered with the teacher for that year. This page is also commentable. </p>
  </div>
</div>

<br>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h2>Department Pages</h2>
  </div>
  <div class="ui-body ui-body-a">
    <p>Every department has a Department page associated with it, which can be found by visiting the Department Search page. The department search page has a list of all the departments in alphabetical order. You can search this list using the text field above it. A Department page lists all of the courses in our database that are associated with the department, as well as all of the professors in the department. Each class and professor is also a link to their respective page. This page is commentable. </p>
  </div>
</div>

<p>
For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.
</p>
