<!-- Explains professor, class, and department pages -->

<% provide(:title, 'Help | Mobile Theme') %>
<h1 class="ui-bar ui-bar-a titlebar">Mobile Theme Help</h1>

<p>There are a few key differences when viewing Prestissimo with a phone versus a computer. This page will help any confused Prestissimo users who are struggling with the site on their mobile devices.</p>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h2>Mobile Theme Specifics</h2>
  </div>
  <div class="ui-body ui-body-a">
    <p>The main difference the mobile theme offers is a different layout of most pages you will visit. They have been formatted to fit a mobile device, but in the case that you prefer the original view, there is a <strong>Toggle Mobile Theme</strong> button at the bottom of every page that will let you switch back and forth between the mobile theme and the html theme. The other main difference is the removal of all course cart functionality to avoid clutter when viewing the site.</p>
  </div>
</div>

<br>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h2>Problems? Let us know!</h2>
  </div>
  <div class="ui-body ui-body-a">
    <p>There's a chance that our formatting might look weird or ungainly on your specific device...please let us know if this is the case! We want the user's experience with Prestissimo to be excellent via any medium.</p>
  </div>
</div>

<p>
For any unanswered questions, please contact us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.
</p>
