<!-- Explains professor, class, and department pages -->

<% provide(:title, 'Help | Professor Pages') %>
<h1>Professor Pages</h1>

<p>Every professor at Oberlin has a page associated with them. To find a professor page, use the People Search page, and click the name of the professor you'd like to view. You can also find a professor page by using the Course Search, opening a course taught by that professor, and clicking the professor name in the expanded description.</p>
<p>&nbsp;</p>

<h2>For Students and Staff:</h2>
<p>All professor pages will have a list of the classes that professor has taught. The name of each class is a link to the hubpage for that class where you can find out more about that class. The department abbreviation is a link to that department's page where you can see other professors who teach or have taught for that department and other classes that department offers. Click on a row to see more information about a class. You will see the professor's most recent course description for that class, as well as a list of the semesters the professor has taught the class. The list of semesters contains both lab and lectures sections, so you may see the same semester listed more than once.</p></br>
<p>Professors who have made accounts may also have included more useful information on their page. Professors can provide a link to a website, an email address, a phone number, and an office room number, as well as a few sentences about how they prefer to be contacted, and a section for more information about themselves. This information is posted by professors themselves, so it should be accurate, but not all professors will have it.</p></br>

<h2>For Professors:</h2>
<p>All professors automatically have a page that lists the courses they teach and have taught, but by creating an account you have the ability to add more useful information to your page. By clicking the <strong>Edit Profile</strong> link in the <strong>Account</strong> dropdown menu, or by clicking the <strong>[edit]</strong> link next to your name on your profile, you can add or update the information on your page. You have the option of adding a number of things to your profile:</p>
<ul>
  <li><strong>Preferred First Name:</strong> Here you can enter a nickname for yourself (e.g. "Kate" instead of "Katherine"). If you leave this field blank, your first name will be displayed as it appears in the college database. If you enter something here, it will be displayed on your profile page instead.</li>
  <li><strong>URL:</strong> Here you can enter a link to an external website, such as your homepage or a resume. To make sure the link works correctly, click on the "Preview Link" button underneath the URL field once you have entered something.</li>
  <li><strong>Preferred Contact Email:</strong> Here you can provide the email that you would prefer people contact you at.</li>
  <li><strong>Preferred Contact Phone:</strong> Here you can enter a phone number for people to reach you. Please include the entire phone number if you decide to do so.</li>
  <li><strong>Office Room Number:</strong> Here you can provide the location of your office so people know where to find you. Please include the building and room number. There should also be room for special instructions if, for example, your office is in the back of a main office.</li>
  <li><strong>General Contact Info:</strong> Here you can provide any other information about how you would like to be contacted, such as your office hours or the best way to get in touch with you.</li>
  <li><strong>Additional Information:</strong> Here you can enter any additional information you would like to provide to your students. Text you enter here will be formatted with Markdown, a simple, but powerful language for adding html formatting to text. Markdown allows you to give text styling like bold or italics, and to make things like lists and headings. Here are a few useful examples:
  <ul>
    <li><em>Italics</em> can be made by surrounding text with asterisks : *Italics*</li>
    <li><strong>Bold Text</strong> can be made by surrounding text with 2 asterisks: **Bold Text**</li>
    <li>Headers can be made by putting pound (#) symbols at the beginning of a line. More pound symbols make the headder smaller, and up to 6 can be used: #Header 1</li>
    <li>Bulleted lists can be made using dashes (-) as bullets. You can even make multiple levels if you indent with two or more spaces.</li>
    <li>Numbered lists can be made by beginning lines with a number followed by a period.</li>
  </ul>
  Be sure to press the <strong>Generate Preview</strong> button to see what it will look like before you save your changes. There are also many other things you can do with the markdown library we are using, so if you are feeling creative, try googling for more things to experiment with!
  </li>
</ul>

<p>&nbsp;</p>
For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.

