<!-- Page to display questions past users have had and solutions to errors on the site -->

<% provide(:title, 'Help | Questions') %>
<h1 class="ui-bar ui-bar-a titlebar">Have Questions?</h1>

<p>Send us an email! An administrator will answer your question within a few days. We'll bring you back to the Help index when you're done.</p>

<%= form_tag qmailer_path, method: "get", class: "q_form" do %>
  <span class="q_title">Title</span>
  <%= text_field_tag :title, params[:title], class: "smallspread_inputfield" %>
  <span class="q_title">Question</span>
  <%= text_area_tag :message, params[:message], class: "smallspread_inputfield", id: "q_textarea" %>
  <%= submit_tag "Send Email", name: nil, class: "q_submit" %>
<% end %>
