<!-- Explains professor, class, and department pages -->

<% provide(:title, 'Help | Search Results') %>
<h1 class="ui-bar ui-bar-a titlebar">Search Results Help</h1>
<p>Course results contain a lot of information that can be found by clicking on the result. Read on for help understanding what everything means.</p>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h2>Results</h2>
  </div>
  <div class="ui-body ui-body-a">
    <p>When you enter a search query, a list of courses that correspond to your search will appear below the search fields. These courses are listed in alphabetical order by department, and then numerically by course number. In each row of the results table, you will see:</p>
    <ul class="bulletlist">
      <li>The CRN (Course Registration Number). You can use this number to find the course on PRESTO when you are registering for classes. Sometimes, classes with multiple sections or labs will be listed individually and will have different CRNs.</li>
      <li>An abbreviated department that the class is offered in.</li>
      <li>The course number.</li>
      <li>A possibly abbreviated course title.</li>
      <li>Course professor(s).</li>
      <li>Course meeting days. "T" is used to denote Tuesday, while "R" denotes Thursday.</li>
      <li>Course meeting times. Courses may have multiple times listed. This may mean the course has an associated lab or meeting group.</li>
      <li>Building and room number.</li>
    </ul>
  </div>
</div>

<br>

<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h2>Course Descriptions</h2>
  </div>
  <div class="ui-body ui-body-a">
    <p>Clicking on a row will expand the course and show even more information:</p>
    <ul class="bulletlist">
      <li>A link to the course page.</li>
      <li>A link to the department page.</li>
      <li>Links to professor pages.</li>
      <li>Description(s) of the course provided by the registrar and/or faculty members.</li>
      <li>A possible note provided by a faculty member.</li>
      <li>Information about prerequisites or course requirements.</li>
      <li>Current enrollment. The first number is how many people are enrolled in the class, and the second is the maximum number that the class can have. Keep in mind that this information is updated daily and may not be precisely accurate - check with <a href="http://presto.cc.oberlin.edu">PRESTO</a> or the course instructor for more accurate information.</li>
      <li>Module (length of the course).</li>
      <li>Number of credits and what division they count for, as well as whether the course counts as a full course under the College's current course requirements.</li>
      <li>The <strong>Profic.</strong> field represents the proficiencies that class fulfills.
      <p class="indent"><i>The possible entries in this field are:</i>
      <br /><strong>CD:</strong> Cultural Diversity
      <br /><strong>QFR:</strong> Quantitative and Formal Reasoning
      <br /><strong>WAdv:</strong> Writing Advanced
      <br /><strong>WInt:</strong> Writing Advanced
      </p>
      <p class="indent"><i>Prior to the Fall 2013 semester, the following abbreviations were used:</i>
      <br /><strong>CD:</strong> Cultural Diversity
      <br /><strong>WR:</strong> Writing Proficiency
      <br /><strong>QP:</strong> Full Quantitive Proficiency
      <br /><strong>QP1/2:</strong> Half Quantitive Proficiency
      </p></li>
      <li>Grading options available for the course, such as Pass/No Pass.</li>
    </ul>
  </div> 
</div>
  
<p>For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.
</p>
