<% provide(:title, "Admin Page") %>

<h1>WATCH YOUR STEP, THESE LINKS DO BIG THINGS</h1>
<div id="settings">
  <%= link_to "Edit Global Settings", change_settings_path, remote: true %>
  <div id="settings_form_div">
  </div>
</div>

<div id="reports">
  <%= link_to "Manage Reports", reports_path(nil,nil,nil), remote: true %>
  <div id="report_index">
  </div>
</div>

<div id="admin_motd">
  <%= link_to "Set Message of the Day", edit_motd_settings_path %>
</div>

<div id="sessions">
  <%= link_to "Expire all non-admin login sessions", expire_sessions_path, :data => {:confirm => 'are you sure?'} %>
</div>
