<!--
The page to search the users
Has search form, and empty divs to place search results/status
-->

<% provide(:title, 'People Search') %>
<% if !in_mobile_view? %>
  <div class="people_search">
    <%= render 'users/searchform' %>
  </div>
  <!-- SEARCH STATUS APPEARS IN THIS DIV -->
  <div id="status_bar">
  </div>
  <!-- RESULTS APPEAR IN THIS DIV -->
  <div id="user_results">
  </div>
  <div id="handle_results">
  </div>
  <div id="prof_results">
  </div>
<% else %>
  <%= render 'users/searchform' %>
  <!-- SEARCH STATUS APPEARS IN THIS DIV -->
  <div id="status_bar">
  </div>
  <!-- RESULTS APPEAR IN THIS DIV -->
  <div id="user_results">
  </div>
  <div id="handle_results">
  </div>
  <div id="prof_results">
  </div>
<% end %>
