<!-- display of CRN
			- input: text field
			- field: crn
			- standard text field display
			-->
<div class="form" id="crn_div">
	<span class="label search_label">CRN:</span>
	<%= text_field_tag :crn, params[:crn], :size => 7, class: "smallspread_inputfield search_tag", id: "crn_field" %>
</div>
