<!-- display of PROFESSOR
- input: text field
- field: professor
- standard text field display
-->
<div class="form" id="professor_div" title='Search by professor name. Example: "Marvin", "Krislov", or "Marvin Krislov".'>
  <span class="label search_label">Professor:</span>
  <%= text_field_tag :professor, params[:professor], class: "smallspread_inputfield search_tag", id: "professor_field" %>
</div>
