<!-- display of SCHOOL YEAR
			- input: drop down menu
			- field: year
			-->
<div class="form ui-alt-icon" id="Year_div">
	<span class="label search_label">Year:</span>
	<% dropdown = "" %>
	<% get_semesters.each do |sem| %>
		<%year = sem_to_school_year(sem)%>
		<% dropdown << "<option>#{year}</option>" unless dropdown.include? year%>
	<% end %>
	<%= select_tag :year,
		dropdown.html_safe,
		class: "search_tag",
		id: "year_drop"
	%>
</div>
