<!-- display of SEMESTER
- input: drop down menu
- field: semester
-->
<div class="form" id="year_div" title="<%="Search by semester; some past semesters are available for viewing.\nPrestissimo updates to the new catalog when it becomes available midway through the preceding semester."%>">
  <span class="label search_label">Semester:</span>
  <% dropdown = "" %>
  <% get_semesters.each do |sem| %>
    <% dropdown << "<option>#{sem}</option>" %>
  <% end %>
  <%= select_tag :semester,
    dropdown.html_safe,
    class: "search_tag",
      id: "year_drop"
  %>
</div>
