<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
Prestissimo was conceived after a particularly frustrating hour and a half spent searching 
for classes worth 3 credits of social science that also fulfilled the writing proficiency requirement. 
After undergoing the tedious process of looking through the entire course catalog manually, 
it became apparent that there needed to be something faster than Presto.
</p>
<p>
Intended as a supplement to Presto, Prestissimo allows you to search through all of Oberlin's 
courses with a finer level of control over such search criteria as graduation proficiencies,
days and times, departments, professors, and more.
</p>

<h1>Credits</h1>
<p>
Prestissimo was originally created as a Winter Term project during the balmy winter of 2012
with the invaluable help and dedication of all of the following lovely people:
</p>
<ul>
	<li><strong>Liz Bennett - 2013</strong>, our amazing project leader</li>
	<li><strong>Jacob Chae - 2015</strong></li>
	<li><strong>Luke Lovett - 2013</strong></li>
	<li><strong>Abby Marsh - 2013</strong></li>
	<li><strong>Lily Pratt - 2014</strong></li>
	<li><strong>Jack Ratner - 2014</strong></li>
	<li><strong>Whit Schorn - 2013</strong></li>
	<li><strong>Ben Kuperman</strong> - Faculty sponsor extraordinaire</li>
</ul>

<p>The following students continued working on Prestissimo throughout the summer of 2012:</p>
<ul>
	<li><strong>Abby Marsh</strong></li>
	<li><strong>Jack Ratner</strong></li>
	<li><strong>Richard Townsend - 2013</strong>, our welcome new addition to the Prestissimo family</li>
</ul>

<p> Thanks must be given to the awesome Oberlin CS department for their support and encouragement along with <strong>Chris Mohler</strong> who kindly offered to host Prestissimo.</p>
