<!-- Provides information on the advanced course search fields -->

<% provide(:title, 'Help | Advanced Search') %>

<h1>Advanced Search Help</h1>

<p>The Prestissimo course search offers a lot of functionality, but perhaps all of those search fields can be a little overwhelming. Have no fear! In our series of Search Help articles, we aim to explain how each field works - hopefully we can clear up some confusion!</p>

<h2>Advanced Search</h2>

<p>Our advanced search consists of many fields, allowing for a great degree of customizability. If you understand these fields, you can reach a high level of specificity in your course search results! Each field is explained below.</p>

<ul class="help_list">
  <li>The <strong>Proficiencies</strong> boxes filter classes by which requirement the classes fulfill. Checking one box will return classes that offer credit for that proficiency, and checking more than one box will return classes that offer all of the selected proficiencies. For example, if both CD and WR are checked, only courses that give both CD and WR will be returned.
	<p class="indent"><i>The abbreviations are:</i>
	<br /><span class="help_sub_list">CD:</span> Cultural Diversity
	<br /><span class="help_sub_list">WR:</span> Writing Proficiency
	<br /><span class="help_sub_list">QP:</span> Quantitive Proficiency
	</p>
	</li>

	<li>The <strong>Days</strong> boxes restricts results to courses offered on the selected days. Checking a day will show all courses that occur on that day. Selecting more than one day will only return courses that occur on every day selected.</li>

	<li>The <strong>Modules</strong> boxes filter courses by the module of the semester in which they are offered.
	<p class="indent"><i>The different types of modules are:</i>
	<br /><span class="help_sub_list">First:</span> the course runs from the start of the semester until the week of Fall/Spring Break.
	<br /><span class="help_sub_list">Second:</span> the course runs from the week of Fall/Spring break until the end of the semester.
	<br /><span class="help_sub_list">Special:</span> a class with various, often irregular meeting times.
	<br />All other classes are <span class="help_sub_list">full</span> semester classes.
	</p>
	</li>

	<li>The <strong>Attributes</strong> boxes restrict results to classes that have the selected attributes. If one attribute is checked, courses with that attribute will be shown. Selecting multiple attributes will only return courses that are associated with all of the selected attributes.
	<p class="indent"><i>The abbreviations are:</i>
	<br /><span class="help_sub_list">NS:</span> Natural Sciences
	<br /><span class="help_sub_list">SS:</span> Social Sciences
	<br /><span class="help_sub_list">HU:</span> Arts & Humanities
	</p>
	</li>

	<li>The <strong>Credit</strong> fields limit results to the specified credit range. If the Min field is filled, courses that offer at least that number of credits are shown. If the Max field is filled, courses that offer at most that number of credits are shown. When both fields are filled, results will fall into the specified range, inclusive.</li>

	<li>The <strong>CRN</strong> field searches for courses with a CRN that matches or contains the field's input.</li>

	<li>The <strong>Start After</strong> field allows you to specify the start time of a course. If a start time is specified and an end time is not, the search will return all of the courses starting exactly at that time.
	The <strong>End Before</strong> field allows you to specify the end time of a course. If an end time is chosen and a start time is not, the search will return all of the courses ending exactly at that time.
	<p class="indent">If both start and end times are filled, the search will return courses in that time range, exclusive. For example, if the Start After and End Before fields consist of 14:00 and 16:00, respectively, the results will consist of all classes that start at or after 14:01 and end at or before 15:59.
	<br /><i>The hour field must be filled when searching!</i> Minutes are optional and assumed to be 00 when not chosen. Minutes cannot be searched without an hour.</p></li>

	<li>The <strong>Course Level</strong> selectors search by course number. The first selector chooses the comparator, and the second chooses level. <span class="help_sub_list">Greater Than</span> finds courses with numbers at least as high as the level, <span class="help_sub_list">Less Than</span> finds courses with numbers at most the selected level, and <span class="help_sub_list">Equal To</span> finds courses with numbers in that level range i.e. "Equal To 100" would return any courses numbered 100-199.
	<br/>If no comparator is specified, Equal To is assumed. If no number is chosen, this field is not searched.</li>
</ul>

<p><strong>Reminder!</strong> This information can be found at any time in the Search Help box, which appears to the right side of the search. 
Just hover over the name of the field or click in the input area to view this information!
And if you find you don't need the guide, you can make the help box disappear by clicking the 'Hide' button, above it!</p>

<p>For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.</p>
