<!-- Describes the basic functionality of oprestissmo -->

<% provide(:title, 'Help | Basics') %>
<h1>Search Help</h1>

<p>The Prestissimo course search offers a lot of functionality, but perhaps all of those search fields can be a little overwhelming. Have no fear! In our series of Search Help articles, we aim to explain how each field works - hopefully we can clear up some confusion!</p>

<h2>Basic Search</h2>
<p>Our basic search consists of the four fields visible when the page first loads. These are Course Name, Professor, Department, and Semester. Each is explained below.</p>

<ul id="basics_list" class="help_list">
  <li>The <strong>Course Name</strong> field filters courses by their titles. Search results will have titles that match or contain the query. For example, searching either "Principles" or "Principles of Computer Science" will return the course "Principles of Computer Science."</li>
  <li>The <strong>Professor</strong> field returns courses being taught by a professor whose name matches or contains the search phrase.</li>
  <li>The <strong>Department</strong> selector returns courses being offered by the specified department. All courses are displayed, including Private Readings and Honors listings.</li>
  <li>The <strong>Semester</strong> selector determines which course catalog to search. The most recently available catalog is the top option.<br/>
  <strong>Note:</strong> Most course catalogs become available midway through the preceding semester, and Prestissimo updates to the new catalog at this time. Check to make sure you are searching the preferred semester!</li>

<br \><strong>Reminder!</strong> This information can be found at any time in the Search Help box, which appears to the right side of the search. 
Just hover over the name of the field or click in the input area to view this information!
And if you find you don't need the guide, you can make the help box disappear by clicking the 'Hide' button, above it!

</ul>

<p>For more information about our Advanced Search features, continue to our second article: <%= link_to "Advanced Search Features", help_advanced_path %>.</p>

For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.

