<!-- Explains how to use the course cart -->

<% provide(:title, 'Help | The Course Cart') %>
<h1>The Course Cart</h1>
<p>
The course cart is a Prestissimo feature accessible to anyone who visits the website. Think of it as a shopping cart for classes: you can add or remove classes to it, or email it to yourself to streamline your course registration process. Check out our tips below on how to use the cart to its full potential!
</p>

<h2>How Do I Use the Course Cart?</h2>
<p>To create or add a new course to your cart, simply do a course search, click the checkbox of any classes you would like to add, and click the "add to cart" button. The cart will appear in the top left corner of your screen. To remove a course, click the "[X]" on the class you would like to delete from the cart.</p>

<h2>What If I Built My Cart Before Signing In?</h2>
<p>Never fear! If a cart is constructed before you sign in, it will be consolidated with the cart associated with your user account upon signing in.</p>

<h2 class="help_header">Cart Features</h2>
<ul class="help_list">
  <li>To move the cart, simply click it anywhere and drag it somewhere else. It will reappear at the top left corner of the page if you navigate away from your current page.</li>
  <li>To send your cart to yourself as an email, click the <span class="help_sub_list">Email Cart</span> button and enter a valid email address in the text box.</li>
  <li>The <span class="help_sub_list">Load Cart</span> button searches for the courses in your cart and displays the results. This button will only appear in your cart on the Home page.</li>
  <li>To remove your cart from view, all courses must be removed from the cart. It will then disappear from your view until more classes are added.</li>
  <li>Click on a course in your cart to get a snapshot of some of the course's specifications.</li>
  <li>Other methods of adding to the cart are out there! If you find yourself on a class or department page and you see a class that interests you, an "Add to Cart" link is located nearby for instant cart access.</li>
</ul>

For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.

