<!-- Explains some of the more nuanced features of the site -->

<% provide(:title, 'Help | Features') %>
<h1>What features does Prestissimo offer?</h1>
<p>
Please click a link to learn more about Prestissimo!
</p>

For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.

