<!-- Explains professor, class, and department pages -->

<% provide(:title, 'Help | Hubpages') %>
<h1>Professor, Class, and Department Pages</h1>
<p>
As a signed in user of Prestissimo, you have access to pages designed to assist your course search process. These are the Professor, Class, and Department pages. Search for classes and departments on the <%= link_to "Department Search", hubcourses_path %> page, and search for professors on the <%= link_to "People Search", users_path %> page.</p>
<h2>Professor Pages</h2>
<p>Every professor at Oberlin has a page associated with them. To find a professor page, visit the People Search page, type in at least 3 letters from a professors name, and click the name of the professor you'd like to view. You can also find a professor page by using the Course Search, opening a course taught by that professor, and clicking the professor name in the expanded description. Professor pages will list all courses that have been taught by that professor as well as any comments posted by users. </p>
<h2>Class Pages</h2>
<p>A Class page has a description for the associated course, lists all professors who have taught the course, and lists all the years that course has been offered with the teacher for that year. This page is also commentable. </p>
<h2>Department Pages</h2>
<p>Every department has a Department page associated with it, which can be found by visiting the Department Search page and clicking the four letter code associated with the department. For example, the CSCI link leads to the Computer Science Department page. A Department page lists all of the courses in our database that are associated with the department, as well as all of the professors in the department. Each class and professor is also a link to their respective page. This page is commentable. </p>

For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.

