<!-- Explains professor, class, and department pages -->

<% provide(:title, 'Help | Mobile Theme') %>
<h1>Mobile Theme Help</h1>
<p>There are a few key differences when viewing Prestissimo with a phone versus a computer. This page will help any confused Prestissimo users who are struggling with the site on their mobile devices.</p>
<h2>Mobile Theme Specifics</h2>
<p>The main difference the mobile theme offers is a different layout of most pages you will visit. They have been formatted to fit a mobile device, but in the case that you prefer the original view, there is a <span class="help_sub_list">Toggle Mobile Theme</span> button at the bottom of every page that will let you switch back and forth between the mobile theme and the html theme. The other main difference is the removal of all course cart functionality to avoid clutter when viewing the site.</p>
<h2>Problems? Let us know!</h2>
<p>There's a chance that our formatting might look weird or ungainly on your specific device...please let us know if this is the case! We want the user's experience with Prestissimo to be excellent via any medium.</p>

For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.

