<!-- Explains professor, class, and department pages -->

<% provide(:title, 'Help | Search Results') %>
<h1>Search Results Help</h1>
<p>Although students and faculty will be familiar with most of the information returned on a course search, there are some extra features Prestissimo offers to facilitate the course registration process.</p>

<h2>Course Descriptions</h2>
<p>All course results have a plethora of information that can be found just by clicking on the result. Included in the description are links to the professor, class, and department pages associated with the results. If the course conflicts with a course in your cart or is cross-listed with a course in another department, the course description will contain that information as well.</p>
<h2 class="help_header">Unfamiliar Fields </h2>
<ul class="help_list">
  <li>The <strong>Curr Enroll</strong> field represents the current number of students enrolled in the class (the top number) and the maximum number that can enroll in the class (the bottom number). When 20% or less seats remain in the class, the top number will be red.</li>
  <li>The <strong>Profic.</strong> field represents the proficiencies that class fulfills.
    <p class="indent"><i>The possible entries in this field are:</i>
    <br /><span class="help_sub_list">CD:</span> Cultural Diversity
    <br /><span class="help_sub_list">WR:</span> Writing Proficiency
    <br /><span class="help_sub_list">QP:</span> Full Quantitive Proficiency
    <br /><span class="help_sub_list">QP1/2:</span> Half Quantitive Proficiency
    </p></li>
</ul>
<h2 class="help_header">Colors and Markings</h2>
<p class="help_paragraph">Many course results will have various marks and background colors to help convey information about the course. Hopefully these will prove more of a help than a hindrance!</p>
<ul class="help_list">
  <li>A <span class="help_sub_list">red bar on the left</span> indicates that a course has 20% or less seats remaining to be filled.</li>
  <li>A <span class="help_sub_list">red background</span> means that this course conflicts with a course in your cart (they occur at the same day and time at least once).</li>
  <li>A <span class="help_sub_list">green background</span> means that this course is already in your cart.</li>
</ul>

For any unanswered questions, please contact
us at 
<a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.

