<div id="motd">

  <div id="motd_container">
    <div id="motd_bar">
      <span>Old Message of the Day</span>
    </div>
    <div class="motd">
      <%= motd.html_safe %>
      <p><br>
      <% if signed_in? && faculty_user?(current_user) %>
	      <strong>Professors make Oberlin great! Thank you for choosing to teach here. If you have any questions or concerns, or just want to say hi, let us know above in Help -> Questions!</strong>
      <% elsif signed_in? %>
	      <strong>Welcome to Oprestissimo! If you have any questions or concerns, or just want to say hi, let us know above in Help -> Questions!</strong>
      <% else %>
	      <strong>Welcome to Oprestissimo! Sign in above, or just start finding classes!</strong>
      <% end %>   
      </p>
    </div>
  </div>

  <div id="newmotd">Set new message of the day:</div>
  <%= form_tag set_motd_settings_path, method: "put" do %>
    <%= text_area_tag :motd, params[:motd], value: @motd, class: "default_inputfield", id: "motd_field" %>
    <%= submit_tag "Set MOTD", class: "search_button", id: "set_motd" %>
  <% end %>

  <div id="motd_container">
    <div id="motd_bar">
      <span>Preview</span>
    </div>
    <div class="motd">
      <p id="motd_preview"></p>
      <p><br>
      <% if signed_in? && faculty_user?(current_user) %>
	      <strong>Professors make Oberlin great! Thank you for choosing to teach here. If you have any questions or concerns, or just want to say hi, let us know above in Help -> Questions!</strong>
      <% elsif signed_in? %>
	      <strong>Welcome to Oprestissimo! If you have any questions or concerns, or just want to say hi, let us know above in Help -> Questions!</strong>
      <% else %>
	      <strong>Welcome to Oprestissimo! Sign in above, or just start finding classes!</strong>
      <% end %>    
      </p>
    </div>
  </div>

</div>
