<!--
    The professor search page
    currently just searches by name
    -->

<% provide( :title, "Professor Search" ) %>
<h2 class="hub_h2">Search Professors</h2>

<!-- SEARCH FORM: contains keyword search -->
<%= form_tag professor_search_path, method: 'get', id: "sf", remote: true do %>

	<div id="prof_div">
		<div id="prof_label">Professor Name:</div>
		<%= text_field_tag :name, params[:name], class: "default_inputfield", id: "prof_field" %>
	</div>

	<div id="prof_submit">
		<%= submit_tag "Search", name: nil %>
		<input type="reset" value="Reset">
	</div>

<% end %>

<!-- SEARCH STATUS APPEARS IN THIS DIV -->
<div id="status_bar">
</div>

<!-- RESULTS APPEAR IN THIS DIV -->
<div id="results">
</div>

