<!-- The 404 error page -->
<%= stylesheet_link_tag "errors" %>
<%= csrf_meta_tag %>

<% provide(:title, "Page Not Found") %>

<div class="dialog">
  <h1>The page you were looking for does not exist. :(</h1>
  <div class="emessage">
  <p>You may have mistyped the address or the page may have moved.
  Try refreshing the page or hitting the back button on your browser.</p>
  <p>If you are sure this page should be here and are getting this error in error, 
    please contact us at <a href=mailto:info@oprestissimo.com>info@oprestissimo.com</a>.
  </p>
  <%= link_to("Return to Home Page", root_path) %>
</div>
</div>
