// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#set_motd{
  margin:10px;
}

#motd_field{
  width:792px;
  height:115px;
  
}
