<div data-role="footer">
  <footer>
  <% store_location %>
  <center>
    <%= link_to "Click to Toggle Mobile Theme", click_mobile_format_path, "data-role" => "button", :id => "mobile_change", "data-theme" => "b"%>
  </center>
  <small>
    <p>
    For assistance, please contact us at <a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.
    </p>
    <p>
    <strong>Disclaimer:</strong> Prestissimo is not affiliated with Oberlin College in any official capacity and cannot guarantee the accuracy of any of its information. Prestissimo gathers its information automatically from Oberlin's online, publicly available course catalog and course schedule.
    </p>
    </small>
  </div>
  </footer>
