// You can use Sass (SCSS) here: http://sass-lang.com/

/* --------------------------- CLASS/HUBCOURSE SEARCH PAGE ------------------ */
/* ID for DIV surrounding class search results */
#hubcourse_results_scroller {
  height:250px;
  width:auto;
  overflow:auto;
}

/* Class for H2 Subheaders used to show sections */
.hub_h2 {
  margin:0;
  margin-bottom:10px;
  color: $h2color;
  font-family: $labelFont;
  font-size: 30px;
}

/* Class used for div surrounding entire search. */
.hub_search {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 790px;
  .visible {
    #dept_link {
      color: $deptLink;
  }
}
tbody {
  padding-top: 10px;
  padding-bottom: 10px;
  td {
    vertical-align:top;
    width: 33%;
}
td.alt {
  #dept_link {
    color: $link;
    font-weight: bold;
    &:hover {
      color: $linkHover;
    }
  }  
}
h2 {
  text-align:left;
}
}
}
#dept-search-box {
  background-color: $deptTableBackground;
  border-radius: 5px;
  padding: 5px;
}
#dept-table {
  margin-top: 10px;
}

#dept-table tr {
  font-size: medium;
}
.filter-table {
  font-family: $labelFont;
  color: $filterLabel;
  font-size: 18px;
  width: 263px
}
  p input[type="search"] {
    outline:none;
    border: 1px solid $textFieldBorder;
    width: auto;
    height: auto;
    font-size:14px;
    padding:2px;
    border-radius:5px;
    margin: 1px;
    &:focus {
      outline:none;
      border:2px solid $textFieldFocus;
      border-radius:5px;
      margin: 0px;
    }
  }

/* IDs used for columns of table containing classes, profs */
#hub_class{
  float:left;
  margin-left:83px;
}

.hubsearch_bg {
}

.hc_dept {
  float:right;
}

/* ID used for div containing department links */
#hub_dept{
  width:100px;
  margin-left:500px;
  margin-top:30px;
}

/* Class used for div surrounding search field labels */
.hub_label {
  display:inline-block;
  font-weight:bold;
}

/* Class for div surrounding search fields and labels */
.hub_div {
  text-align:left;
  padding: 5px;
}

/* Class for div surrounding search & reset buttons */
.hub_search_submit {
  padding-top:20px;
  text-align:center;
}

/* -------------------- SHOW CLASS PAGE ------------------------------------- */
/* ID given to the header displaying the course DEPT and NUM */
#hc_h1 {
  padding:0;
  margin:0;
}

/* Class given to subheaders, used to list class name and show sections */
.hc_h2 {
  padding:0;
  margin:0;
  margin-left:50px;
  margin-bottom:30px;
  color: $h2color;
  font-family: $labelFont;
}

/* ID given to div containing professor names and links */
#hc_profs {
  max-height:200px;
  overflow:auto;
  margin:0 40px;
  border-radius:5px;
  background-color:$hcPastProfsBackground;
  border:$hcPastProfsBackground solid 2px;
  padding:3px;
  ul {
    list-style:none;
    padding:0;
    }
}

/* ID given to div containing course description */
#hc_desc {
  margin:5px 0;
  p { text-align:justify; }
}

/* ID given to div containing past course info */
#hc_courses {
  max-height:200px;
  overflow:auto;
  margin:0 40px;
  border-radius:5px;
  background-color:$hcPastClassesBackground;
  border:$hcPastClassesBackground solid 2px;
  padding:3px;
  ul {
    list-style:none;
    padding:0;
    }
    li {
      margin-bottom:7px;
    }
    p {
      margin:0;
      padding:0;
    }
}

/* ID given to subheaders used to delineate sections */
#courses_h2, #professors_h2, #desc_h2 {
  margin:0;
  font-size:20px;
}

#hub_csv_link {
  text-align: center;
  margin: 10px 0px;
  padding: 7px 5px 5px 5px;
  border-top: $lineColor dotted 1px;
  border-bottom: $lineColor dotted 1px;
}
