// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* --------------- GENERAL CART STYLING ------------------------------------- */
/* ID of Div around entire cart */
#cart {
	position:relative;
	z-index:15;
	border:1px solid #777;
	background-color:#DDD;
	padding:4px;
	border-radius:5px;
	/* Firefox */
	background: -moz-linear-gradient(top, #FFF, #DDD);
	/* Chrome, Safari */
	background: -webkit-gradient(linear, left top, left bottom,	from(#FFF), color-stop(0.7,#DDD));
	/* IE */
	background: -ms-linear-gradient(top, #FFF, #DDD);	/* IE */

	/*drop shadow*/

	box-shadow: 3px 3px 4px #000;
	/*firefox, Chrome, Safari*/
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;

	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	    
}

/* ID of DIV around headers table, in cart */
#cart_header {
	background:#ee352E;
	border-radius:5px 5px 0 0;
	border:1px solid #D80700;
	color:#FFF;
	font-weight:700;
	font-size:small;
	/* Firefox */
	background: -moz-linear-gradient(top, #FF7552, #EE352E);
	/* Chrome, Safari */
	background: -webkit-gradient(linear, left top, left bottom,	from(#FF7552), to(#EE352E));
	/* IE */
	background: -ms-linear-gradient(top, #FF7552, #EE352E);
	/* Inner light border */
	-moz-box-shadow:inset 1px 1px 0px 0px #ffa189;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffa189;
	box-shadow:inset 1px 1px 0px 0px #ffa189;
}

.sem_row {
  background-color:black;
  color:white;
  text-align:center;
  font-size:larger;
}

/* class of div surrounding cart courses */
.courses {
	margin:0 0 5px 0;
	border:1px solid #999;
}

.cart_course .cname {
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP Printers */
  word-wrap: break-word; /* IE 5+ */
}

.cart_course .cnum {
  width: 41px;
}

/* Class of span surrounding [x] button to remove courses */
.rem_link {
    color:black;
    &:hover {
	color:crimson;
    }
}

/* Class that makes course headers not bolded when selected */
.selected {
    font-weight:normal !important;
}

/* ID of Div surrounding email button, for positioning purposes */
#maillink_outer {
	text-align:center;
}

/* Email Cart Link */
.cart_action_link {
	display:inline-block;
	border-radius:5px;
	padding:3px;
	margin-bottom:3px;
	outline:none;
	border:1px solid #D80700;
	color:#FFF;
	font-weight:700;
	font-size:small;
	background:#FFA189;
	background: -moz-linear-gradient(bottom, #FFa189 2%, #FF7552 51%, #FFA189 51%);
	background: -webkit-linear-gradient(bottom,	#FFA189 2%, #FF7552 51%, #FFA189 51%);
	background: -ms-linear-gradient(bottom, #FFa189 2%, #FF7552 51%, #FFA189 51%);
	text-decoration:none;
	&:hover {
	  cursor:pointer;
		background: #FF7552;
		color:#FFD58B;
		background: -moz-linear-gradient(bottom, #FF7552 2%, #EE352E 51%, #FF7552 51%);
		background: -webkit-linear-gradient(bottom,	#FF7552 2%, #EE352E 51%, #FF7552 51%);
		background: -ms-linear-gradient(bottom, #FF7552 2%, #EE352E 51%, #FF7552 51%);
		/* Inner light border */
		-moz-box-shadow:inset 1px 1px 0px 0px #ffa189;
		-webkit-box-shadow:inset 1px 1px 0px 0px #ffa189;
		box-shadow:inset 1px 1px 0px 0px #ffa189;
	}
	&:active {
		position:relative;
		top:-1px;
	}
}

/* --------------------- COURSE INFO BOX ------------------------------------ */
/* ID of Div containing course information */
#info_box {
	position:relative;
	margin:10px 0 0 0;
	z-index:12;
}

/* Class of div surrounding course info that is initially hidden */
.info {
	display:none;
	padding:4px;
	border:1px solid #777;
	background-color:#ddd;
	border-radius:5px 0 0 5px;
	font-size:small;
}

.cart_prof_png {
  float:right;
  height:30px;
  width:30px;
}

#cart_crn {
  float:right;
}

#cart_cred {
  width:150px;
  float:left;
}

.prof_cart_link {
  color:#820000;
  text-decoration:none;
  &:hover, &:active {
    color:#b70000;
    text-decoration:underline;
  }
}

.cleaner {
  clear: both;
}

/* -------------------- THE COURSE CART DIV --------------------------------- */
/* ID for the course cart container 
		Not 100% on that... */
#course_list {
    position:fixed;
    float:left;
    margin:20px 0 0 20px;
    width:200px;
}


/* Class for span surrounding the category labels, in
		expanded cart view */
.cart_label {
	font-weight:bold;
}

/* ID for span surrounding the remove course from cart link */
#rem_link {
	a {
		color:black;
		&:hover {
			color: #FFF;
		}
	}
}



/* -------------------- DIALOG BOX STYLING ---------------------------------- */
/* Class of div surrounding submit button and divider */
.dialog_submit {
	text-align:right;
	padding:5px;
}

/* Class of actual submit button, in dialog box */
.dialog_submit_button {
	border-radius:5px;
	outline:none;
	padding:5px;
	border:1px solid #D80700;
	color:#FFF;
	font-weight:700;
	font-size:small;
	background:#FFA189;
	background: -moz-linear-gradient(bottom, #FFa189 2%, #FF7552 51%, #FFA189 51%);
	background: -webkit-linear-gradient(bottom,	#FFA189 2%, #FF7552 51%, #FFA189 51%);
	background: -ms-linear-gradient(bottom, #FFa189 2%, #FF7552 51%, #FFA189 51%);
	&:hover {
		background: #FF7552;
		color:#FFD58B;
		background: -moz-linear-gradient(bottom, #FF7552 2%, #EE352E 51%, #FF7552 51%);
		background: -webkit-linear-gradient(bottom,	#FF7552 2%, #EE352E 51%, #FF7552 51%);
		background: -ms-linear-gradient(bottom, #FF7552 2%, #EE352E 51%, #FF7552 51%);
		/* Inner light border */
		-moz-box-shadow:inset 1px 1px 0px 0px #ffa189;
		-webkit-box-shadow:inset 1px 1px 0px 0px #ffa189;
		box-shadow:inset 1px 1px 0px 0px #ffa189;
	}
	&:active {
		position:relative;
		top:-1px;
	}
}

/* Class of label text in dialog */
.dialog_label {
	display:block;
	padding-top:5px;
}

/* Class of div around form, in dialog box */
.dialog_form {
	text-align:center;
	padding:7px;
}
