// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----------------------- Comment Index ------------------------------------ */

/* Class given to div for entire comment box
		Contains title bar span, as well */
.comment_area {
	width:500px;
	background-color:#ddd;
	margin-bottom:3px;
	margin-left:auto;
	margin-right:auto;
	border-radius:3px;
}

/* Class for span containing both handle
		and the edit comment link */
.handle {
	display:block;
	background-color:#ccc;
	font-weight:bold;
	padding:4px;
	border-radius:3px 3px 0 0;
	outline:none;
}

/* Class for span containing the text of the comment */
.body {
	display:block;
	width:100%;
}



/* Class used to format timestamp on comments */
.posted_at {
	font-weight:normal;
	font-style:italic;
	font-size:small;
}

/* class given to span containing the link to
		edit a comment */
.edit_comment_link {
	font-weight:normal;
	font-size:14px;
	float:right;
}

/* class given to paragraph of text stating
		a comment has been edited */
.edited_comment {
	padding:0 8px 0 8px;
	font-size:14px;
	font-style:italic;
}

/* class given to body text of comment
		forces word wrapping even when no whitespace present */
.comment_text {
	width:95%;
	margin-left:auto;
	margin-right:auto;
	word-wrap:break-word;
}

/* Class for text of a hidden comment */
.hidden {
	width:95%;
	margin-left:auto;
	margin-right:auto;
	word-wrap:break-word;
}

/* Class for text explaining a comment is hidden */
.hidden {
	font-size:small;
	font-style:italic;
}

/* Class for paragraph containing body text of hidden comment */
.hidden_para {
	padding:0 8px 0 8px;
	display:block !important;
}


/* class for span around the JS action text to show hidden comment */
.comm_display_link {
	color:#820000;
	&:hover, &:active {
		cursor:default;
		text-decoration:underline;
		color:crimson;
	}
}

/* ------------------------- COMMENT SUBMISSION FORM ------------------------ */

/* ID of div surrounding entire comment submission
		field. Unused. */
#comment_form {
}

/* ID given to comment label */
#comment_label {
	display:block;
	width:306px;
	margin-top:4px;
	margin-bottom:1px;
	color: #820000;
	font-size: 18px;
	font-family: Lusitana;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
}

/* ID to specify changes to default_inputfield
		given to comment text area */
#comment_textarea {
	display:block;
	width:300px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
}

/* Div surrounding submit button */
#comment_submit_box {
	text-align:right;
	width:300px;
	margin-left:auto;
	margin-right:auto;
}

/* Class given to actual submit button */
#submit_comment {
	margin-top:7px;
	margin-bottom:5px;
}

/* -------------------- VOTING ---------------------------------------------- */
/* Class for arrow images, resizing them.
No longer used - see tri IDs, below */
.vote_arrow {
	width:20px;
	height:10px;
}

/* Class given to div containing all of the voting stuff.
Determines the position. */
.vote_div {
	text-align:right;
	padding-right:5px;
	padding-bottom:5px;
}

/* Class given to div surrounding the up vote arrow and 
vote count. Forms the white box */
.upvote_div {
	margin:0;
	margin-bottom:3px;
	padding:2px 4px;
	background:white;
	border-radius:3px;
	display:inline-block;
}

/* Class given to div surrounding the down vote arrow
and vote count. Forms the white box */
.downvote_div {
	margin:0;
	margin-bottom:3px;
	margin-right:3px;
	border-radius:3px;
	padding:2px 4px;
	background:white;
	display:inline-block;
}

/* Class given to paragraph surrounding the up vote count */
.up_text {
	display:inline;
	margin:0;
	padding:0;
	color:green;
}

/* Class given to paragraph surrounding the down vote count */
.down_text {
	display:inline;
	margin:0;
	padding:0;
	color:red;
}

/* ID of DIV that makes the red voting triangle */
#redtri {
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #dc2727;
	&:hover {
		border-top:10px solid gray;
	}
}

/* ID of DIV that makes the green voting triangle */
#greentri {
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid green;
	&:hover {
		border-bottom:10px solid gray;
	}
}

/* ID of DIV that makes down-facing grey arrows */
#greytri-down {
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid gray;
	&:hover {
		border-top:10px solid #dc2727;
	}
}

/* ID of DIV that makes up-facing grey arrows */
#greytri-up {
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid gray;
	&:hover {
		border-bottom:10px solid green;
	}
}

/* ----------------------- SHOW REPLY --------------------------------------- */
/* Class of div surrounding entire reply -
including whitespace on left */
.reply {
	width:500px;
	margin-bottom:3px;
	margin-left:auto;
	margin-right:auto;
	border-radius:3px;
}

/* Class for span containing both handle
		and the edit reply link */
.reply_handle {
	display:block;
	background-color:#ccc;
	font-weight:bold;
	padding:4px;
	border-radius:3px 3px 0 0;
	outline:none;
	margin-top:3px;
	margin-left:92px;
	width:400px;
}

/* Class for span containing the text of the reply */
.reply_body {
	background-color:#ddd;
	display:block;
	padding:4px;
	padding-left:8px;
	padding-right:8px;
	margin-left:92px;
	width:392px;
	border-radius:0 0 3px 3px;
}


/* Class given to div containing all of the voting stuff.
Determines the position. */
.reply_vote_div {
	text-align:right;
}

/* -------------------- ADD REPLY FORM ------------------------------------- */
/* class of div surrounding reply form */
.add_reply {
	width:500px;
	margin-bottom:3px;
	margin-left:auto;
	margin-right:auto;
}

/* ID of reply text field */
#reply_textarea {
	display:block;
	width:450px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
}

/* ID of reply label text */
#reply_label {
	display:block;
	width:456px;
	margin-top:4px;
	margin-bottom:1px;
	color: #820000;
	font-size: 18px;
	font-family: Lusitana;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
}

/* ID of reply submit tag */
#reply_submit_box {
	text-align:right;
	width:450px;
	margin-left:auto;
	margin-right:auto;
}

/* class of reply to post link, at bottom of each comment */
.reply_link {
	float:left;
	padding:6px 0 0 8px;
}
