// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$reddish: #DD352D;
$dark_reddish: #820000;

/* ------------------------- basic SEARCH FORMATTING ------------------------ */
#sf {
	margin-bottom:0;
}

#search_wrapper {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	//padding:2px 20px 0 60px;

}

#search {
	position:relative;
	display:inline-block;
	//padding:10px;
	margin:0;
	top:0;
	vertical-align:top;
	position:relative;
	//padding-top:5px;
	//padding-bottom:5px;
	width:100%;
	border:1px solid #a0a0a0;
	border-radius:10px;
	/* Firefox */
	background: -moz-linear-gradient(top, #eaeaea, #bab8b8);
	/* Chrome, Safari */
	background: -webkit-gradient(linear, left top, left bottom,	from(#eaeaea), to(#bab8b8));
	/* Inner white border */
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	box-shadow:inset 1px 1px 0px 0px #ffffff;
}

.form {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	padding-top:2px;
	padding-bottom:2px;
	margin:0;
}

/* --------------- ADVANCED SEARCH FORMATTING ------------------------------- */
#adv_wrapper {
	width:100%;
}

#adv_search {
	position:relative;
	display:none;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
}

/* Div surrounding MORE/LESS button */
#adv_link_div {
	margin-top:3px;
	text-align:center;
}

/* MORE/LESS Button style */
#adv_link {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #c5c5c5) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a0a0a0;
	display:inline-block;
	color:#777777;
	width:75px;
	font-size:10px;
	font-weight:normal;
	padding-top:1px;
	padding-bottom:1px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
#adv_link:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor:pointer;
}
#adv_link:active {
	position:relative;
	top:1px;
}

/* The 'SUBMIT' id */
/* - used to surround the submit tag */
.submit {
	position:relative;
	padding-top:5px;
	width:100%;
	text-align:center;
}

/* ------------------------- The HELP BOX id -------------------------------- */
/* - used to format the search help & tips to the side of the screen */

/* This alters the appearance of the box behind the text */
#search_help {
	width:280px;
	background-color:#fff3b7;
	position:absolute;
	margin-top:24px;
	top:0;
	right:0;
	border:1px solid #bbb;
	font-size:small;
	border-radius:20px;
}

/* This alters the formatting of the text - seperate from the background*/
#search_help_text {
	z-index:2;
	position:absolute;
	top:0;
	height:90%;
	margin-top:8px;
	margin-bottom:8px;
	margin-left:8px;
	margin-right:8px;
	overflow:auto;
}

/* The HIDE HELP/SHOW HELP button */
/*  - used to determine whether search help is visible */
.hide_search {
	position:relative;
	left:10px;
	top:0;
	float:right;
	width:auto;
	text-align:center;
	min-width:50px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #c5c5c5) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a0a0a0;
	display:inline-block;
	color:#777777;
	font-size:10px;
	font-weight:normal;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:7px;
	padding-right:7px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
/* HIDE/SHOW button state changes */
.hide_search:hover, .hide_search:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#hide_search_box {
	a {
		color: #777 !important;
		&:hover, &:active {
			text-decoration:none !important;
		}
	}
}

.start_hidden{
	display:none;
}

/* -------------------- MISC FORMATTING ------------------------------------- */
/* TODO: determine the necessity/proper placement of these */

/* Alters the affect of the SMALL tag */
.small {
	height:100px;
}

/* The 'EXPAND' class */
.expand {
	height:260px;
}

/* The 'LABEL' class */
.label {
	font-weight:bolder;
	float:left;
	width:43%;
	text-align:right;
	clear:left;
	height:auto;
	margin-right:5px;
}

/* TABLE formatting */
table {
	padding:0px;
	margin:0px;
	border-collapse:collapse;
	border-style:none;
}

/* The table holding the header row */
#headers {
	margin:0px;
	padding:0px;
	width:100%;
}

#headers th {
	vertical-align:bottom;
}

#headers th.enroll {
  text-align:center;
      }

#status_bar{
    color:$dark_reddish;
    padding:10px;
    font-weight: bold;
    font-size: small;
}
/* -------------------- SEARCH RESULTS -------------------------------------- */

.add_to_cart_button{
}

#headers{
    /*same as cart_header*/
	background:#ee352E;
	border-radius:5px 5px 0 0;
	border:1px solid #D80700;
	color:#000;
	font-weight:700;
	font-size:small;
	/* Firefox */
	background: -moz-linear-gradient(top, #FF7552, #EE352E);
	/* Chrome, Safari */
	background: -webkit-gradient(linear, left top, left bottom,	from(#FF7552), to(#EE352E));
	/* IE */
	background: -ms-linear-gradient(top, #FF7552, #EE352E);
	/* Inner light border */
	-moz-box-shadow:inset 1px 1px 0px 0px #ffa189;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffa189;
	box-shadow:inset 1px 1px 0px 0px #ffa189;

}

/* the scrollable div holding the courses found in search */
#results_scroller {
	max-height:500px;
	overflow:auto;
	padding:0px;
	margin:0px;
}

#results_contents {
  border:1px solid #a5a5a5;
  margin-top: 10px;
  margin-bottom: 10px;

}

/* table holding courses found */
.results {
  width:100%;
}

th, td {
	padding:2px;
	margin:0;
	border-collapse:collapse;
	border-width:0px;
	border-style:none;
	font-size:small;
}

/* proficiency icons */
img.prof_png {
  padding:1px;
  height:32px;
  width:32px;
  margin:1px;
}


/* styling for courses with less than 20% seats open */
#results_scroller, #cart {
  tr {
  } 
  tr.full {
    td.chkbox, td.car_inf.cnum {
    background-image: image-url("/assets/full_bg.gif");
    background-repeat: repeat-y;
    background-position: top left;
    }
    td.car_inf.cnum {
      padding-left:4px;
      background-position:-2px 0;
    }
    td.enroll span.cur_enroll {
      font-weight:bold;
      color:red;
    }
  }
  .cancel_message {
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
    text-align: center;
  }
}



/* DESCRIPTION styling, in search results */
.descrip {
	background-color:#820000;
	color:white;
	display:none;
}

.desc td {
	padding:20px;
}

div#content div.desc_spec {
  clear: both;

  margin:4px 6px;
  padding:0;

  //outline: thin solid yellow;

  a {
    font-weight:bold;
    color: #eeb52e;
    text-decoration: underline; 
  }
  a:hover {
    color:#ffd57E;
  }


  .professors {
    width: 300;
    display: block;
    float: right;
  }

  .location,
  .enrollment,
  .semester,
  .section {
    clear: right;
    text-align: right;
    float: right;
    display: block;
  }
  .semester { clear: none; }
  .location { margin: 0.5em 0 0.2em; }

  div.crosslist,
  .module {
    display: block;
    margin-top: 1.0em;
  }

  .enrollment_cur,
  .enrollment_max,
  .crosslist,
  .location,
  .grading,
  .proficiencies,
  .instructor_consent,
  .dean_consent,
  .credits {
    display: block;
  }
  

  .course_description, .course_notes {
    display: block;
    margin-top: 0.5em;
  }


}

.spl_left {
  width:50%;
}

.spl_right {
  width:50%;
  float:right;
}

.course_conflict {
	font-size:larger;
	color:#ff7777;
	font-weight:bold;
	margin:0;
	padding:0;
}

.chkbox { width:18px; }
.crn { width:36px; }
.dept { width:41px; }
.cnum { width:30px; }
.cname { width:215px; }
.profes { width:160px; }
.days_off { width:62px; }
.enroll { width:72px; }
.time { width:68px; }

.enroll, .profic {
  text-align:center;
  span {
    display:block;
  }
}


.selected {
	color:white;
	font-weight:bold;
}

/* -------------- Row-Alternating Colors for Search Results ----------------- */
/* odd-indexed rows in search results table */
.odd		{
	background-color:#eeeeee;
	/*
	background: -moz-linear-gradient(top, #EEEEEE, #DDDDDD);	// firefox
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD)); // chromium, safari
	background: -ms-linear-gradient(top, #EEEEEE, #DDDDDD);	// IE
	*/
	border-bottom: 1px #bbbbbb solid !important;
}

/* even-indexed rows in search results table */
.even		{
	background-color:#cccccc;
	/*
	background: -moz-linear-gradient(top, #CCCCCC, #BBBBBB); // firefox
	background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#BBBBBB)); // chromium, safari 
	background: -ms-linear-gradient(top, #CCCCCC, #BBBBBB);	// IE
	*/
	border-bottom: 1px #bbbbbb solid !important;
}

.evenincart:hover,
.oddincart:hover,
.even:hover,
.odd:hover,
.evenconflict:hover,
.oddconflict:hover,
.selected	{
	background-color:#555555;
	//background: -moz-linear-gradient(top, #555555, #666666); // firefox
	//background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#666666));// chromium, safari
	//background: -ms-linear-gradient(top, #555555, #666666);	/* IE */
	border-bottom: 1px #bbbbbb solid !important;
	color:white;
	td.profic img {
	  background-color: white;
	}
	td.profic img.none {
	  background-color:transparent;
	}
}

.oddconflict		{
	background-color:#FF9479;
//	background: -moz-linear-gradient(top, #FF9479, #FC4842);	/* firefox */
	/* chromium, safari */
//	background: -webkit-gradient(linear, left top, left bottom, from(#FF9479), to(#FC4842));
//	background: -ms-linear-gradient(top, #FF9479, #FC4842);	/* IE */
	border-bottom: 1px #E0362E solid !important;
}
.evenconflict {
	background-color:#FF6449;
//	background: -moz-linear-gradient(top, #FF6449, #CC1812);	/* firefox */
	/* chromium, safari */
//	background: -webkit-gradient(linear, left top, left bottom, from(#FF6449), to(#CC1812));
//	background: -ms-linear-gradient(top, #FF6449, #CC1812);	/* IE */
	border-bottom: 1px #B3291A solid !important;
}

tr.oddincart		{
	background-color:#48fc42;
	//background: -moz-linear-gradient(top, #94FF79, #48FC42);	/* firefox */
	/* chromium, safari */
//	background: -webkit-gradient(linear, left top, left bottom, from(#94FF79), to(#48FC42));
//	background: -ms-linear-gradient(top, #94FF79, #48FC42);	/* IE */
	border-bottom: 1px #36E02E solid !important;
}
tr.evenincart {
	background-color:#18cc12;
//	background: -moz-linear-gradient(top, #64FF49, #18CC12);	/* firefox */
	/* chromium, safari */
//	background: -webkit-gradient(linear, left top, left bottom, from(#64FF49), to(#18CC12));
//	background: -ms-linear-gradient(top, #64FF49, #18CC12);	/* IE */
	border-bottom: 1px #29B31A solid !important;
}
/* --------- UNIQUE IDs for COURSE SEARCH FORM ------------------------------ */

#mincredits_field {
	height:auto;
	font-size:12px;
	width:auto;
}

#maxcredits_field {
	font-size:12px;
	width:auto;
}

#crn_field {
	font-size:12px;
	width:auto;
}

#cname_field {
	font-size:14px;
	vertical-align:top;
	width:auto;
}

#professor_field {
	font-size:14px;
	width:auto;
	vertical-align:top;
}

#dotw_table td {
	text-align:center;
	padding:0;
	margin:0;
}

#modules_table td {
	text-align:center;
	padding:0;
	padding-right:5px;
	margin:0;
}

#proficiencies_table td {
	text-align:center;
	padding:0;
	padding-right:5px;
	margin:0;
}

#attributes_table td {
	text-align:center;
	padding:0;
	padding-right:5px;
	margin:0;
}

#credits_table td, #credits_table tr {
	text-align:center;
	padding:0;
	margin:0;
}
#dept_drop {
	outline:none;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFF), color-stop(1, #EEE) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #aeaeae;
}

#courselevel_drop,
#coursenumber_drop,
#semester_drop,
#time_drop,
#date_div select {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFF), color-stop(1, #EEE) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #9a9a9a;
	outline:none;
}

#date_div .separator {
  position:relative;
  top:3px;
  left:-2px;
}


// Message of the Day

#motd_container {
  margin:10px;
  background-color:#FFF3B7;
  border:gray solid 1px;
  border-radius:10px;
}

#motd_bar {
  position:relative;
  line-height:1.5;
  color:white;
  padding-bottom:2px;
  text-align:center;
  background-color:#66A;
  border-radius:5px;
}

div#motd_bar a {
    //float:right;
    position:absolute;
    right:0;
    font-size:smaller;
    color:white;
    margin-right:3px;
}
div#motd_bar a:hover {
    color:white;
}

.motd {
  padding:5px;
}
