<!--
the hubcourse search page
-->
<% provide(:title, 'Hub Search') %>
<% if !in_mobile_view? %>
  <div class="hub_search">
    <div id="hub_class">
      <div class="hubsearch_bg">
	<%= render 'hubcourses/searchform' %>
      </div>
    </div>
    <div id="hub_dept">
      <div class="hubsearch_bg">
	<%= render 'departments/searchform' %>
      </div>
    </div>
    <div id="status_bar">
    </div>
    <div id="search_results">
    </div>
  </div>
<% else %>
  <%= render 'hubcourses/searchform' %>
  <%= render 'departments/searchform' %>
  <div id="status_bar">
  </div>
  <div id="search_results">
  </div>
<% end %>
